SERIAL=S00388
CONTAINER_VOLUME=/srv/container-volumes

# The .env file gets created from the Terraform script
# Nothing should need to done and this example is only
# here to enable you to use it on a local test build.

ADMIN_PASS=SecretKey
CONTAINER_VOLUME=/srv/container-volumes
DOCKER_LOGIN=robot$repository
DOCKER_PASSWORD=SecretKey
DOCKER_LOGIN_AUTH=SecretKey
DB_HOST=db
LIMIT_TIME_CPU=86400
LIMIT_TIME_REAL=86400
ODOO_CRON_DB=uat
ODOO_IMAGE=registry
ODOO_IMAGE_VERSION=uat
ODOO_POSTGRES_PASSWORD=SecretKey
ODOO_POSTGRES_USER=odoo
POSTGRES_PASSWORD=SecretKey
RDS_PASS=SecretKey
SMTP_PASSWORD=SuperSecretKey

# ODOO_IMAGE=odoo
# ODOO_IMAGE_VERSION=13
